.main {
    text-align: center;
}

.contactColumns {
    display: flex;
    justify-content: center;
}

.contactColumns > * {
    width: 50%;
    margin: 1.5em;
}

@media screen and (max-width: 800px) {
    .contactColumns {
        flex-direction: column;
    }
    .contactColumns > * {
        width: auto;
        margin-left: 0;
        margin-right: 0;
    }
}
