@import url("https://fonts.googleapis.com/css2?family=Poppins");

*, *::before, *::after {
  box-sizing: border-box;
  word-wrap: break-word;
}

* {
  scrollbar-color: #aaa #041937; /* gives the scrollbar a more distinct feel.
  Firefox only unfortunately. WebKit also has a way to style the scrollbar but it's complicated.
  */
}


html,
body {
  padding: 0;
  margin: 0;
  font-size: 1.05rem;
  font-family: "Helvetica Neue", Helvetica, Arial, system-ui, sans-serif;
}

.poppins {
  font-family: Poppins, Helvetica, sans-serif;
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition: none !important;
  }
}
